.blog__navigator {
    border-right: 1px solid #a6b5aa;
    background-color: #eff5f1;
    padding-right: 20px;

    ul li {
        display: none;
    }

    ul:hover li {
        display: block;
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }


}
