.blog__navigator {
    border-right: 1px solid #a6b5aa;
    background-color: #eff5f1;
    padding-right: 20px;

    ul.blog__category li {
        display: none;
    }

    ul.blog__category.active li {
        display: block;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
