.blogContent {
    flex-grow: 2;

    .summaries__block {
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        line-height: 150px;
        justify-content: center;

    
        .blogfile__summary {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vw;
            width: 40%;
            border: 1px solid #7e9291;
            text-align: center;
            line-height: normal;
            vertical-align: baseline;
            margin: 25px 25px;
            background-color: #f7f9f6;
        }
    }
    
}

