.header {
  color: white;
  background-color: #1b1e23;
  display: flex;

  .logo {
    width: auto;
    height: 102px;
  }

  .header__right {
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    margin-right: 10vw;

    > * {
      vertical-align: middle;
      padding: 10px;
    }

    li > a {
      display: inline-block;
      color: white;
    }

    .header__right__newblog {
      border: none;
      color: white;
      background-color: #1b1e23;
    }
  }
}
